*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.main{ 
    background: linear-gradient(to top, rgba(0,0,0,0)50%,rgba(0,0,0,0)50%), url(login\ background\ 1.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
    width: 100%;
    position:relative;
    bottom:9rem;
}

.form{
    width: 250px;
    height: 310px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%);
    position: absolute;
    top: 150px;
    left: 570px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 80px;
    position: fixed;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #00d5ff;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding : 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #00d5ff;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #00d5ff;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #fff;
    color: #ff7200;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
}

